

body {
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    color:#fff;
    text-align: center;
    font-size: 15px;
    padding: 0 auto;
}

header{
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 4;
    background: url("../../gallery/formheader.png")no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    border-top: 1px solid white;
    padding-left: 200px;
}

#canvas{
    width:100%;
    height:700px;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    background-color: #1a1724;
}

.canvas-wrap{
    position:relative;

}

div.canvas-content{
    position:absolute;
    top: 50px;
    height: 800px;
    width: 50%;
    left:25%;
    background:url("../../gallery/formmain.png")no-repeat ;
    background-size: cover;
    background-position: center;
    z-index:5;
    color:#fff;
    text-align:center;
    padding-top:30px;
    border-top: 2px solid #1b6d85;
    border-radius: 5%;

}

footer{width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5000;
    background:url("../../gallery/formheader.png")no-repeat;
    background-size: cover;
    color:white;
    text-align: center;
    border-top: 1px solid white;

}

footer p{
    font-size: 14px;
}

.headclass{
    position: relative;
    top:1%;
    margin-left: -3%;
    padding: 5%;
    background-color: #9c27b0;
    font-size: 1.5em;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px #333;
}

.headclass:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 100%;
    border-right: 3vh solid #8e24aa;
    border-bottom: 2vh solid transparent;
}

form{
padding:50px;
    display: block;
}
.form-group{margin-bottom: 15px}
.form-group input{width: 50%}
.form-group label{float: left}

.btn{
    margin: 10px;
}

button a{color: white;
text-decoration: none;
font-weight: bolder}

button a:hover{text-decoration: none;
color: white}

