
.navbar-default {
    background-color: inherit;
    border-color: #e7e7e7;

}


.navbar {
    border-radius: 0;
    border: none;
    min-height: 55px;


}


.navbar-default .navbar-nav>li>a {
    color: antiquewhite;
    font-size: 17px;
    font-family: Book Antiqua;

}


.navbar-default .navbar-nav>li>a:hover {
    color: #d9edf7;
    background-color: transparent;
    border-bottom: 3px solid sandybrown;
    font-size: 18px;

}
.index-text{
    color: whitesmoke;
    background-color: inherit;
}



.navbar-nav{
    padding-top: 10px;
    background-color: inherit;
}

.navbar-default .navbar-brand {
    color: antiquewhite;
    font-family: Gabriola;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;
    border-bottom: rgba(234,215,22,0.3);
    border-bottom-style: dotted;
}


.navbar-default .navbar-brand:hover {
    color: #ccc;
    background-color: transparent;
}
.mynav {
    background-color: rgba(41, 0, 0, 0.14);
    height: 80px;


}
/*banner*/


#banner {

    padding: 100px 0;
    color: white;
    top: 65px;
}

/*Footer*/

#footer {
    padding-top: 70px;
    height: auto;
}
#footer .container-fluid {
    background-color:rgba(0,0,0,.5);
    padding-top: 50px;
}
.aboutbody {
    float: left;
    height: 600px;
    width: 100%;
    margin-top: 100px;
}
.text-area {
    margin-top: 100px;
    height: 500px;
    width: 50%;
    float: left;
	
}
.hostel-info-area {
    height: 600px;
    width: 50%;
    float: left;
    margin-top: 100px;

}
.login-area {
	height:650px;
	width:50%;
	float:right;
	background-color: transparent;
}
.login-form-area {
    height: 80%;
    width: 90%;
    float: right;
    background-color: #1b6d85;
    margin: auto;
}